@using PagedList.Mvc
@using SurrealistGames.Models
@model PagedList.PagedList<SurrealistGames.Models.UserSavedOutcomeView>
@{
    ViewBag.Title = "Favorites";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h2>Favorites</h2>
        </div>
    </div>

    @foreach (var outcome in Model)
    {
        <div id="outcome-@outcome.SavedQuestionId" class="row">
            <div class="well col-xs-6 col-sm-offset-1">
                <div class="col-xs-8 col-sm-offset-1">
                    <p class="lead">Q : <span id="question">@outcome.Question</span></p>
                    <p class="lead">A : <span id="answer">@outcome.Answer</span></p>
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-primary" onclick="deleteFavorite(@outcome.SavedQuestionId)">Delete</button>
                </div> 
            </div>
           
        </div>
    }
    
    <div class="row">
        <div class="col-xs-4">
            @Html.PagedListPager(Model, page=> Url.Action("SavedResults", new {page, pageSize=Model.PageSize}))
        </div>
    </div>
</div>

@section scripts {
    <script>
        function deleteFavorite(savedQuestionId) {
            $.post("/SavedQuestionGameResult/Delete", { savedQuestionId: savedQuestionId })
                .success(function(result) {
                $('#outcome-' + savedQuestionId).remove();
            });
        }
    </script>
}
