@model SurrealistGames.Models.SavedQuestionGameResult
@{
    ViewBag.Title = "Question and Answer";
}

<div class="container">
    
    <div class="row">
        <div class="col-xs-6">
            <h2>Q &amp; A</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-sm-offset-1 well">
            @Html.HiddenFor(m => m.QuestionPrefixId)
            @Html.HiddenFor(m => m.QuestionSuffixId)
            <p class="lead">Q : <span id="question"></span></p>
            <p class="lead">A : <span id="answer"></span></p>
            <button class="btn btn-primary" onclick="return onRefreshClick()">Refresh</button>
            <button id="saveButton" class="btn btn-primary" onclick="return onSaveClick()">Save</button>
        </div>
        <div class="col-xs-1">
           
        </div>
    </div>
</div>

@section scripts
{
    <script>

        $(document).ready(function () {
                onRefreshClick();
            }
        );

        function onRefreshClick() {
            $.ajax(
            {
                url: '/QuestionGame/GetRandomOutcome',
                method: 'GET',
                cache: false,
                success: function (data, textStatus, jqXHR) {
                    $('#question').html(data.QuestionPrefix.Content);
                    $('#answer').html(data.QuestionSuffix.Content);
                    $('input[name="QuestionPrefixId"]').val(data.QuestionPrefix.QuestionPrefixId);
                    $('input[name="QuestionSuffixId"]').val(data.QuestionSuffix.QuestionSuffixId);
                    $("#saveButton").prop('disabled', false).html("Save");
                }
            });
        }

        function onSaveClick() {
            var postData = {};
            postData.questionPrefixId = $('input[name="QuestionPrefixId"]').val();
            postData.questionSuffixId = $('input[name="QuestionSuffixId"]').val();

            $.ajax(
            {
                url: '/SavedQuestionGameResult/Post',
                method: 'POST',
                data: postData,
                success: function(data, textStatus, jqXHR) {
                    if (! Boolean(data.LoggedIn)) {
                        alert("Please log in to use this feature.");
                    }

                    $("#saveButton").prop('disabled', true).html("Saved");
                    
                }
            });
        }
    </script>
}
