@model SurrealistGames.Models.SavedQuestionGameResult
@{
    ViewBag.Title = "Question and Answer";
}

<div class="container">

    <div class="row">
        <div class="col-xs-6">
            <h2>Q &amp; A</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-sm-offset-1 well">
            @Html.HiddenFor(m => m.QuestionPrefixId)
            @Html.HiddenFor(m => m.QuestionSuffixId)
            <p class="lead">Q : <span id="question"></span></p>
            <p class="lead">A : <span id="answer"></span></p>
            <button class="btn btn-primary" onclick="return onRefreshClick()">Refresh</button>
            @if (User.Identity.IsAuthenticated)
            {
                <button id="saveButton" class="btn btn-primary" onclick="return onSaveClick()">Save</button>
            }
            else
            {
                <button id="saveButton" class="btn btn-primary" disabled="disabled">Log in to save</button>
            }
        </div>
        <div class="col-xs-1">

        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.validate.js"></script>

    <script src="~/Scripts/jquery-validate-defaults.js"></script>
    <script src="~/Scripts/playQuestionGame.js"></script>
    <script>

        $(document).ready(function () {
            onRefreshClick();
        }
        );

        function onRefreshClick() {
            $.ajax(
            {
                url: '/QuestionGame/GetRandomOutcome',
                method: 'GET',
                cache: false,
                success: function (data, textStatus, jqXHR) {
                    $('#question').html(data.QuestionPrefix.QuestionPrefixContent);
                    $('#answer').html(data.QuestionSuffix.QuestionSuffixContent);
                    $('input[name="QuestionPrefixId"]').val(data.QuestionPrefix.QuestionPrefixId);
                    $('input[name="QuestionSuffixId"]').val(data.QuestionSuffix.QuestionSuffixId);
                    $("#saveButton").prop('disabled', false).html("Save");
                }
            });
        }

    </script>
}
